@{
    ViewBag.Title = "About";
}
<div class="panel">
<div class="panel-heading bg-success"><h2>@ViewBag.Title.</h2></div>
<div class="panel-body">@ViewBag.Message
    <br /><br />
<p>We care about animals and when they're home alone they're not happy. 
    We would love to be your fill-in so your furbabies never feel lonely.</p>
</div>
</div>