@{
    ViewBag.Title = "About";
}
<div class="panel">
<div class="panel-heading bg-success">@ViewBag.Title.</div>
<div class="panel-body">@ViewBag.Message
    <br />
<p>Use this area to provide additional information.</p>
</div>
</div>