@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Fantastic Way<br />
    Crockett, TX 75835-6666<br />
    <abbr title="Phone">P:</abbr>
    281.826.1383
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@PetSitting.com">Support@PetSitting.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@PetSitting.com">Marketing@PetSitting.com</a>
</address>